body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}

/* Sección izquierda */
/* Logo */
.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

/* Nombre y eslogan */
.nombre {
    color: #695797;
    margin: 0;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}

/* Barra de navegación */
.nav-header {
    display: flex;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 8px 14px;
    border-radius: 20px;
    margin: 3px;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Main */
main{
    padding-left: 2%;
}

.caja-grande-blog{
    color: #382f50;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
}

.caja-grande-blog h2 {
    padding-left: 1%;
}

.fomulario-blog{
    color: #2b2639;
    border: #382f50 solid;
    background-color: #d2e7ff;
    border-radius: 20px;
    padding: 1%;
}

.cuadrostexto-blog{
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 0.5%;
    width: 97%;
}

.titulo-usuario-blog{
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 0.5%;
}

.discusiones-blog{
    color: #2b2639;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.discusiones-blog h3{
    font-size: 20px;
}

.discusiones-blog table{
    border-collapse: collapse;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-style: outset;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    width: 90%;
}

.discusiones-blog table th, .discusiones-blog table td {
    border: 3px solid #8b73c9;
    padding: 10px;
    text-align: left;
}

.discusiones-blog table th{
    padding: 1.5%;
}

.discusiones-blog button{
    padding: 8px;
    font-size: 14px;
    background-color:#8b73c9;
}

.discusiones-blog th:nth-child(1) {
    width: 70%;
}

.discusiones-blog th:nth-child(2) {
    width: 15%;
}

.discusiones-blog th:nth-child(3) {
    width: 15%;
    text-align: center;
}

.texto-dicusion{
    background-color:#c7ccdc;
}

/* Pie de página */
footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; 
}

footer nav a {
    text-decoration: none; 
}

.clic-index {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #382f50;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.8;
}

.clic-index img {
    width: 60px;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}