body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}

/* Sección izquierda */
/* Logo */
.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

/* Nombre y eslogan */
.nombre {
    color: #695797;
    margin: 0;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}

/* Barra de navegación */
.nav-header {
    display: flex;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 8px 14px;
    border-radius: 20px;
    margin: 3px;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Sección Cursos */
#cursos {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: #737ac9;
    margin-bottom: 0;
}

.seccion-cursos {
    text-align: justify;
    border: solid 5px blue;
}

.seccion-cursos h4 {
    text-align: center;
}

.div-html-css-javascript {
    display: flex;
}

.div-html, .div-css, .div-javascript {
    padding: 50px;

}
/* No sé centrar esto xd */
.div-java-python {
    display: flex;
    justify-content: space-around;
    width: 30px;
}

.div-java, .div-python {
    padding: 50px;
    justify-items: center;
}

.seccion-cursos iframe {
    width: 300px;
    height: 169px;
}

/* Sección Formulario de Cursos */
.contenedor-formulario {
    display: flex;
    justify-content: center;
}
.formulario-cursos {
    display: inline-block;
    background-color: #e4d9ff;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #382f50;
    border-style: dashed;
}

.formulario-cursos legend {
    text-align: center;
    color: #382f50;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;

}

.formulario-cursos:hover {
    border: solid 2px #8b73c9;
    border-style: dashed;
    background-color: white;
}

.button:hover {
    background-color: #382f50;
    color: #a1acff;
}


/* Pie de página */

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

.clic-index {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #382f50;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.8;
}

.clic-index img {
    width: 60px;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}