body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    padding: 5px;
}

/* Contenedor para nombre, logo y eslogan. */
.div-header {
    text-align: center;
}

.nombre {
    color: #695797;
}

.logo img {
    width: 10%;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
}

/* Barra de navegación */
.nav-header {
    display: flex;
    justify-content:center;
    margin-top: 15px;
    padding: 10px;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 20px;
    position:static;
}
/* Main */
.principal-index{
    display: flex;
    align-items: flex-start;
}

main{
    width: 80%;
}

.caja-grande-index{
    position: relative;
    color: #382f50;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
}

.caja-tarjetas-index{
    justify-content: space-between;
    display: flex;
}

.tarjeta-index{
    border: #382f50 solid;
    background-color: #d2e7ff;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
}

.tarjeta-index-imgcorta {
    border: #382f50 solid;
    background-color: #d2e7ff;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
    align-self: center;
}

.tarjeta-index img{
    padding-top: 2%;
    border-radius: 20px;
}

.tarjeta-index-imgcorta{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 20px;
}

/*Aside*/
aside{
    background-color: #695797;
    color: #d2e7ff;
    height: 100%; 
    width: 20%;
    padding: 20px;
    text-align: center;
}

aside iframe {
    height: 20%;
    width: 90%;
    padding-bottom: 10%;
    align-self: center;
}

audio{
    width: 90%;
    align-self: center;
}

.opiniones-index{
    margin-top: 100%;
    font-size: 12px;
}

/* Pie de página */

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

footer nav a {
    text-decoration: none; 
}

.clic-index {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #382f50;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.8;
}

.clic-index img {
    width: 60px;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}