/* Barra de navegación */

header {
    background-color: #003e3e;
    padding: 5px;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: flex-start;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    color: white;
    width: 100%;
}

.nav-link {
    color: #003e3e;
    background-color: rgb(217, 255, 122);
    padding: 10px;
    border-radius: 20px;
    align-items: right;
    margin: 0.5%;
    position: initial;
}

.div-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    color: white;
}

.logo {
    width: 15%;
    height: auto;
    position: relative;
}

.nombre {
    text-align: center;
    color: rgb(217, 255, 122);
    align-content: flex-start;
    position: fixed;
    left: 45%;
    bottom: 87%;
}

.eslogan {
    text-align: center;
    color: #00baba;
    font-family: monospace;
    padding-left: 5%;
    font-size: 15px;
    position: relative;
    margin-top: 20%;
    margin-bottom: 6%;
    left: 90%;
}

/* Pie de página */

.footer {
    background-color: #003e3e;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.clic-index {
    color: white;
    text-decoration: none;
}

.email {
    color: white;
}