/* Barra de navegación */

header {
    background-color: #003e3e;
    padding: 5px;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
}

.logo {
    left: 2%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 15%;
    height: auto;
    position: absolute;
}

.nombre {
    text-align: center;
    color: rgb(217, 255, 122);
    align-content: flex-start;
    justify-content: center;
}

.eslogan {
    text-align: center;
    color: #00baba;
    font-family: monospace;
    padding: 5px;
    font-size: 15px;
    align-content: flex-start;
    justify-content: center;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 70%;
}

.nav-link {
    color: #003e3e;
    background-color: rgb(217, 255, 122);
    padding: 10px;
    border-radius: 20px;
    align-items: right;
}


/* Pie de página */

.footer {
    background-color: #003e3e;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.clic-index {
    color: white;
    text-decoration: none;
}

.email {
    color: white;
}