body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    padding: 5px;
}

/* Contenedor para nombre, logo y eslogan. */
.div-header {
    text-align: center;
}

.nombre {
    color: #695797;
}

.logo img {
    width: 10%;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
}

/* Barra de navegación */
.nav-header {
    display: flex;
    justify-content:center;
    margin-top: 15px;
    padding: 10px;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 20px;
    position:static;
}
/* Main */
.principal-index{
    width: 100%;
    display: flex;
 /*ESTO ERA PARA QUE EL ASIDE FUERA DE ARRIBA A ABAJO PERO NO HACE NA*/
}

main{
    width: 80%;
}

.caja-grande-index{
    display: relative;
    color: #382f50;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
}

.caja-tarjetas-index{
    justify-content: space-between;
    display: flex;
}

.tarjeta-index{
    border: #382f50 solid;
    background-color: #d2e7ff;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
}

.tarjeta-index img{
    padding-top: 2%;
    border-radius: 20px;
}

/*Aside*/
aside{
    background-color: #695797;
    width: 20%;
    height: 100%; 
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column; /*PROBÉ CON ESTO PARA VER SI ASÍ BAJABA Y TAMPOCO*/ 
    color: #d2e7ff;
    text-align: center;
    /*NO CONSIGO QUE BAJE EL BACKGROUND COLOR DEL ASIDE HASTA EL FOOTER */
}

aside iframe {
    height: 20%;
    width: 90%;
    padding-bottom: 10%;
    align-self: center;
}

audio{
    width: 90%;
    align-self: center;
}

.opiniones-index{
    margin-top: 100%;
    font-size: 12px;
}

/* Pie de página */

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

.clic-index {
    color: #382f50;
    text-decoration: none;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}