body{
    background-color: #d2e7ff;
}

/* Barra de navegación */

header {
    background-color:#a1acff;
    padding: 5px;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: flex-start;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    color: white;
    width: 100%;
}

.nav-link {
    color: #382f50;
    background-color: #8b73c9;
    padding: 10px;
    border-radius: 20px;
    align-items: right;
    margin: 0.5%;
    position: initial;
}

.div-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.logo {
    width: 15%;
    height: auto;
    position: relative;
}

.nombre {
    text-align: center;
    color: #695797;
    position: relative;
    margin-top: 20%;
    margin-bottom: 6%;
    left: 90%;
}

.eslogan {
    text-align: center;
    color: #382f50;
    font-family: monospace;
    padding-left: 5%;
    font-size: 15px;
    position: relative;
    margin-top: 20%;
    margin-bottom: 6%;
    left: 90%;
}

/* Pie de página */

.footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.clic-index {
    color: #382f50;
    text-decoration: none;
}

.email {
    color: #382f50;
}