body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    padding: 5px;
}

/* Contenedor para nombre, logo y eslogan. */
.div-header {
    text-align: center;
}

.nombre {
    color: #695797;
}

.logo img {
    width: 10%;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
}

/* Barra de navegación */
.nav-header {
    display: flex;
    justify-content:center;
    margin-top: 15px;
    padding: 10px;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 20px;
    position:static;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Pie de página */

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

.clic-index {
    color: #382f50;
    text-decoration: none;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}