body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}

/* Sección izquierda */
/* Logo */
.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

/* Nombre y eslogan */
.nombre {
    color: #695797;
    margin: 0;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}

/* Barra de navegación */
.nav-header {
    display: flex;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 8px 14px;
    border-radius: 20px;
    margin: 3px;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Sección 'Mi Perfil' */
.contenedor-perfil {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}
.seccion-perfil {
    display: inline-block;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
}

.mi-perfil {
    text-align: center;
}

#perfil {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
    color: #382f50;
    background-color: #8b73c9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.seccion-perfil form {
    width: 100%;
}

/* Racha actual */
.racha-actual h4 {
    margin-bottom: 0;
    color: #382f50;
    text-transform: uppercase;
    background-color: #8b73c9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.racha-actual {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
}

.table-1 {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-1 th, .table-1 td {
    background-color: white;
    border: solid 3px #382f50;
    border-radius: 10px;
    border-style:groove;
    padding: 15px;
    text-align: center;
}

/* Racha más larga */
.racha-larga h4 {
    margin-bottom: 20px;
    color: #382f50;
    text-transform: uppercase;
    background-color: #8b73c9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.racha-larga {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
    margin-left: 15px;
}

.table-2 {
    margin: 0 auto; /* Para centrar la tabla */
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-2 th, .table-2 td {
    background-color: white;
    border: solid 3px #382f50;
    border-radius: 10px;
    border-style:groove;
    padding: 15px;
    text-align: center;
}

/* Artículo de progresos */
.progreso h4 {
    margin-bottom: 20px;
    color: #382f50;
    text-transform: uppercase;
    background-color: #8b73c9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.progreso {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
    width: 50%;
}

.progreso ul {
    list-style-type: none;
}

/* Artículo de certificados */
.certificados h4 {
    margin-bottom: 20px;
    color: #382f50;
    text-transform: uppercase;
    background-color: #8b73c9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}

.certificados {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    margin: 10px;
    margin-left: 8px;
    margin-top: 20px;
    width: 30%;
}

.certificados ol {
    list-style-type: none;
    text-align: left;
}

/* Aside */
aside {
    text-align: center;
    background-color: #382f50;
    color:white;
    padding: 2px;
    padding-bottom: 20px;
}

aside h4 {
    text-transform: uppercase;
    font-size: 28px;
}

aside a {
    color: white;
}

/* Pie de página */

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

.clic-index {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #382f50;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.8;
}

.clic-index img {
    width: 60px;
}

.email {
    color: #382f50;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}