body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}

/* Secci칩n izquierda */
/* Logo */
.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

/* Nombre y eslogan */
.nombre {
    color: #695797;
    margin: 0;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}

/* Barra de navegaci칩n */
.nav-header {
    display: flex;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 8px 14px;
    border-radius: 20px;
    margin: 3px;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Pie de p치gina*/

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la p치gina*/
}

.clic-index {
    color: #382f50;
    text-decoration: none;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}