body{
    font-family: "Poppins", sans-serif;
    background-color: #d2e7ff;
    margin: 0; /*Elimina los margenes alrededor de los elementos.*/
}

header {
    background-color: #a1acff;
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}

/* Sección izquierda */
/* Logo */
.header-logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
}

/* Nombre y eslogan */
.nombre {
    color: #695797;
    margin: 0;
}

.eslogan {
    color: #382f50;
    font-family: monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
}

/* Barra de navegación */
.nav-header {
    display: flex;
}

.nav-link {
    color: #382f50;
    text-decoration: none;
    background-color: #8b73c9;
    padding: 8px 14px;
    border-radius: 20px;
    margin: 3px;
}

.nav-link:hover {
    background-color: #d2e7ff;
}

.here {
    background-color: #d2e7ff;
}

/* Introducción a Premium */
.contenedor-info-premium {
    display: flex;
}

.texto-premium {
    background-color: #a1acff;
    border: solid 5px #8b73c9;
    border-radius: 20px;
    border-style: outset;
    padding: 10px;
    margin: 20px;
    width: 50%;
    text-align: justify;
    justify-content: center;
}

.texto-premium h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #382f50;
}

/* Tabla Ventajas Premium */
.seccion-tabla {
    position: relative;
    top: 20px;
}

table, td {
    padding: 8px;
}

th, tfoot td {
    padding: 12px;
    font-size: 20px;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 95%;
    border: solid 5px #a1acff;
    border-style: outset;
    border-radius: 20px;
}

th {
    border-bottom: solid 2px #a1acff;
}

thead, tfoot {
    background-color: #382f50;
    color: #a1acff;
    font-style: italic;
    text-align: center;
}

tfoot a {
    color: #a1acff;
    font-weight: bold;
    text-transform: uppercase;
}

.plan-gratuito {
    background-color: #695797;
    color: #382f50;
}

.celda-gratuito {
    background-color: #382f50;
    text-transform: uppercase;
    color: #695797;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    width: 35%;
    border-bottom: solid 2px #a1acff;
    border-right: solid 2px #a1acff;
}

.ult-celda-gratuito {
    border-bottom: solid 2px #a1acff;
}

.plan-gratuito:nth-child(odd) {
    background-color: #8b73c9;
}

.celda-premium {
    background-color: #382f50;
    text-transform: uppercase;
    color: #a1acff;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    border-bottom: solid 2px #a1acff;
    border-right: solid 2px #a1acff;
}

.ult-celda-premium {
    border-bottom: solid 2px #a1acff;
}

.plan-premium:nth-child(even) {
    background-color: #e2e3e5;
    color: #382f50;
}

.plan-premium:nth-child(odd) {
    background-color: #c4c8cb;
    color: #382f50;
}

/* Citas */
.citas {
    background-color: white;
    width: 92%;
    padding: 10px;
    border-style: outset;
}

/* Formulario */
.seccion-premium {
    text-align: center;
}

.seccion-premium h3 {
    color: #382f50;
    text-transform: uppercase;
}

.contenedor-form-premium {
    display: flex;
    justify-content: center;
}

.formulario-premium {
    background-color: #e4d9ff;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #382f50;
    border-style: dashed;
    text-align: left;
}

.formulario-premium legend {
    text-align: center;
    color: #382f50;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
}

.formulario-premium:hover {
    border: solid 2px #8b73c9;
    border-style: dashed;
    background-color: white;
}

.button:hover {
    background-color: #382f50;
    color: #a1acff;
}

/* Pie de página*/

footer {
    background-color: #a1acff;
    color: #382f50;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px; /*Hay que borrar esto porque es lo que hace que salga una franja en mitad de la página*/
}

.clic-index {
    color: #382f50;
    text-decoration: none;
}

footer h5 {
    margin-bottom: 2px;
}

.copy {
    margin: 0; /*Elimina el margen de abajo.*/
}